// Transparent header bug fix
@media (max-width: 781px) {

	// Display image on top on mobile when there is media and arbitrary text
	.is-swap-on-mobile {
		display: flex;
	}

	.is-swap-on-mobile.wp-block-columns
	.wp-block-column:nth-child(2) {
		order: 0;
	}

	.is-swap-on-mobile.wp-block-columns
	.wp-block-column:nth-child(1) {
		order: 1;
	}

}

.entry-content .wp-block-button__link {
	transition: filter .25s, opacity .25s;
	&:hover {
		filter: brightness(.95);
		opacity: .95;
	}
}

.wp-block-button.is-style-squared .wp-block-button__link {
	border-radius: 0;
}